@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');

body{
    /* background-image: url("https://wallpaperaccess.com/full/942734.jpg") */
    background-image: url("https://cdn.wallpapersafari.com/96/31/5OTxYs.jpg");
    /* background-image: url("https://wallpaperaccess.com/full/6313.jpg");
    background-image: url("https://i.pinimg.com/originals/90/cd/dc/90cddc7eeddbac6b17b4e25674e9e971.jpg") */
}

/* :placeholder-shown{
    font-family: 'Source Code Pro', monospace;   
} */